In [64]:
import pandas as pd
import os
import numpy as np
import requests
import json
BASE_PATH=r"c:\Users\dv987\Documents\GitHub\Sample"
# Replace BASE_PATH with your own path to this folder.

In [26]:
BLSpath=os.path.join(BASE_PATH, "ssamatab1.xlsx")
# This data comes from the Federal Bureau of Labor Statistics and details
# unemployment statistics by metropolitan statistical area (MSA).
BLS=pd.read_excel(BLSpath, skiprows=2)
BLS=BLS.drop([0])
BLS=BLS.drop(BLS.index[164736:])
BLS=BLS.drop(["LAUS Code","ST FIPS Code"],axis=1)
# Dropping a few rows that don't contain data in the original sheet and a few unnecessary columns.
BLS.head()

,Area FIPS Code,Area,Year,Month,Civilian Labor Force,Employment,Unemployment,Unemployment Rate
1,11500.0,"Anniston-Oxford-Jacksonville, AL MSA",1990.0,1.0,51709,48084,3625,7
2,12220.0,"Auburn-Opelika, AL MSA",1990.0,1.0,44426,41104,3322,7.5
3,13820.0,"Birmingham-Hoover, AL MSA",1990.0,1.0,460283,435924,24359,5.3
4,19300.0,"Daphne-Fairhope-Foley, AL MSA",1990.0,1.0,46320,43881,2439,5.3
5,19460.0,"Decatur, AL MSA",1990.0,1.0,65563,61215,4348,6.6

In [56]:
userid = '6633B66D-A212-4FF2-B8AE-46E60688BD22'
method = 'GetData'
dataset = 'Regional'
results = 'json'

tablename = 'CAEMP25N'
linecode = 'ALL'
geofips = 'COUNTY'
url = f'https://apps.bea.gov/api/data/?UserID={userid}&method={method}&datasetname={dataset}&TableName={tablename}&LineCode={linecode}&GeoFips={geofips}&ResultFormat={results}'
response = requests.get(url)
json_data  = json.loads(response.text)
df = pd.json_normalize(json_data['BEAAPI']['Results']['Data'])
df.to_csv('nipa_T10101.csv', index=False)
df

KeyError: 'Results'